<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">




</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <h5 class="my-0 mr-md-auto font-weight-normal">SchoolBase</h5>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    </nav>
</div>
<br><br>


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">

            <div class="d-flex flex-column flex-shrink-0 bg-white" style="width: 380px;" >
                <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-5 fw-semibold">Данные класса</span>
                </a>

                <div class="alert alert-info mt-2" style="background: 0px; border-color: white">
                    <form action="search_class_school" method="post" >

                        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm shadow-sm" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <input type="text" class="form-control" name="firstNameMainTeacher" placeholder="Введите имя классного руководителя">
                            </div>
                            <br>
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <input type="text" class="form-control" name="lastNameMainTeacher" placeholder="Введите фамилию классного руководителя">
                            </div>
                            <br>
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <input type="text" class="form-control" name="middleNameMainTeacher" placeholder="Введите отчество классного руководителя">
                            </div>
                            <br>
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <input type="text" class="form-control" name="mnomoCode" placeholder="Введите мнемоКод">
                            </div>
                            <br>
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <input type="text" class="form-control" name="yearEducation" placeholder="Введите год начала обучения">
                            </div>
                            <br>
                            <button  type="submit" class="btn btn-danger">Найти</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>



        <div class="col-md-2"></div>

        <div class="col-md-4">

            <div class="d-flex flex-column flex-shrink-0 bg-white" style="width: 380px;">
                <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-5 fw-semibold">Результаты поиска</span>
                </a>

                {{#searchC}}
                <div class="list-group list-group-flush border-bottom scrollareas" >
                    <a class="list-group-item list-group-item-action py-3 lh-sm shadow-sm" aria-current="true">
                        <div  class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Мнемокод </strong>
                        </div>
                        <div class="col-10 mb-1 small" >{{mCode}}</div>
                        <br>
                        <div  class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1" >Год начала обучения</strong>
                        </div>
                        <div class="col-10 mb-1 small" >{{yearEducation}}</div>
                        <div  class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1" >Классный руководитель</strong>
                        </div>
                        <div class="col-10 mb-1 small" >{{#mainTeacher}} {{mainTeacher.getFirstName}} {{mainTeacher.getMiddleName}} {{mainTeacher.getLastName}} {{/mainTeacher}} {{^mainTeacher}}не выбран{{/mainTeacher}}</div>

                        <br>

                        <form  action="/editor_class/{{id}}">
                            <input  class="form-control form-control-dark text-bg-dark" type="submit" value="редактировать"/>
                        </form>

                    </a>
                {{/searchC}}
                <br>
            </div>


            </div>
        </div>

        <div class="col-md-1"></div>






        <footer class="pt-4 my-md-5 pt-md-5 border-top " >
            <div class="row">
                <div class="col-12 col-md">

                    <small class="d-block mb-3 text-muted">© by mesh. E</small>
                </div>
            </div>
        </footer>


</body>
</html>